.chat-message-cstm {
  margin: 10px 0;
}

.chat-message-cstm{
  margin-bottom:150px;
}

.rounded-user-cstm{
  border-radius: 15px 15px 0 15px;
}
.rounded-ai-cstm{gh 
  border-radius: 15px 15px 15px 0;
}

.loading-container{
  display:grid;
  justify-content:center;
  text-align:center;
}