* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #f6f6f6;
  }
  
  header {
    display: flex;
    flet-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background-color: #f6f6f6;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .arvo{
    font-family: "Arvo", serif;
  }

  .card{

    border-radius: 10px;
    box-shadow:5px 5px 22px -2px #000000;
    padding: 20px;

  }

  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 10px 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }
  
  #home {
    display:flex;
    flex-direction: row;
    height:100vh;
  }

  .text-home{
    width:50%;
    padding: 0 40px;
  }

  .text-home h3{
    text-align:center;
    font-weight:normal;
    font-size: 3rem;
  }

  .title-home h1{
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 5rem;
  }

  .title-home{
    display:flex;
    flex-direction:column;
    margin: 40px 0;
  }

  .title-home div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:10px;
  }

  .img-home{
    width:50%;
  }

  .img-home img{
    width: 100%;
    height: auto;
    border-radius:10px;
  }
  
  .home h1 {
    font-size: 3em;
    color: #333;
  }
  
  .title-home p {
    font-size: 1.5em;
    color: #555;
    text-decoration: underline 2px;
  }
  
  .btn-home {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;

  }
  
  .btn-home:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
  }

  .media{
    font-size: 3rem;
  }

  .media a{
    text-decoration: none;
    color: black;
  }

  section {
    padding: 50px 20px;
  }

  #tentang{
    height: 100vh;
  }


  #tentang>h2{
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 5rem;
    padding-left:20px;
  }

  #tentang .text-content h2{
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 2.5rem;
  }

  #tentang .text-content p{
    font-family: "Arvo", serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin-top:20px;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin: 60px 0;
  }

  .img-content, .text-content{
    width: 50%;
  }

  .img-content{
    display:flex;
    justify-content:center;
  }
  .img-content img{
    height:400px;
  }
  
  #portfolio>h2{
    font-weight: 300;
    font-size: 5rem;
  }

  #portfolio article{
    margin:50px 20px;
    text-align:center;
  }

  #portfolio article h2{
    margin-top:20px;
    font-weight:300;
    font-size: 3rem;
  }


  #portfolio .project-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .img-side1, .img-side2{
    width: 50%;
  }

  .project-1 .img-side1 img, .img-side2 img{
    width: 50%;
  }

  #contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .text-contact{
    width: 70%;
  }
  .img-contact{
    width: 30%;
  }

  .img-contact{
    text-align:center;
    margin:0 80px;
  }
  
  .img-contact img{
    height: 700px;
    border-radius: 15px;
  }

  .text-contact>p{
    font-size: 5rem;
    margin: 20px 0;
  }

  .note{
    display:flex;
    flex-direction: row;
  }

  .note p{
    margin-right:20px;
    line-height: 1.5;
  }

  .testimoni-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    }
    .testimoni {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        text-align: center;
    }

    .rating {
    color: #ffc107; 
    font-size: 24px;
    margin-bottom: 10px;
    }

    .testimoni p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile div {
        text-align: left;
    }

    .profile h3 {
        margin: 0;
        font-size: 18px;
    }

    .profile p {
        margin: 0;
        font-size: 14px;
        color: #777;
    }
  
    .container {
        margin: 10px 0;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width:100%;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #3498db;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #2980b9;
    }
  
    footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  