body{
    background-color: #26335D;
}


.img-cstm{
    height: 100%;
    width: 65%;
}

.img-cstm-2{
    height: 100%;
    width: 90%;
}

.icon-size-cstm{
    font-size:72px;
}

.line-sm-cstm{
    height:2px;
    background-color:#E74040;
    width: 70px;
}
.line-lg-cstm{
    height:5px;
    background-color:#E74040;
    width: 70px;
}

.student-cstm{
    padding-left: 100px;
}

.video-cstm{
    padding-left: 100px;
}